html,
body {
  padding: 0;
  margin: 0;
  background-color: #cbe1e1;
  background-image: 
      radial-gradient(at 47% 33%, hsl(227.21, 79%, 48%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(190.59, 0%, 100%) 0, transparent 55%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
